.App {

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.row #title{
  flex: 70%;
}
.login {

  margin-top:20%;
}
.btn-girisyap{
  margin-top: 10px;
  margin-left: 50px;

}
.basketheader{

}