.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.listcomponentTbody{
  height: 200px;
}
.Header{
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
.btn-girisyap{
  margin-top: 4%;
  margin-left: 0;
  width: 100%;
  height: 8%;

}
.login{
  margin-top: 8%;
}
.kullanicigiris{
  margin-top: 2%;
}
.usernamepage{
  position: absolute;
  right: 1%;
  top: 0.5%;
  margin-top: 0.5%;
  font-size: x-large;
  color: white;

}
.addbutton{
  position: absolute;
  left: 20.4%;
  top: 8%;
  margin-top: 1%;
  margin-bottom: 10%;
  font-size: x-large;
  color: white;
  width: 12%;

}
.productlist{
  margin-top: 2%;

}
.tbody-heigth{
  height: 800px;
  overflow-y: auto;
}
.dropdown123{
  position: absolute;
  left: 67.4%;
  top: 8%;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: x-large;
  color: white;
  width: 12%;
}
.actions123{
  width: 300px;
}
.serverinfo{
  position: absolute;
  right: 7.5%;
  top: 0.5%;
  margin-top: 0.5%;
  font-size: x-large;
  color: white;
}
.pass{
  -webkit-text-security: disc;
}
.imagelist{
  height: 200px;
  overflow-y: auto;
}
